# Binaries
zap
*.exe
*.exe~
*.dll
*.so
*.dylib

# Don't ignore source files in cmd/zap
!cmd/zap/*.go

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

